version: "3.9"

services:
  api:
    build: .
    image: ai-codefix-agent:local
    container_name: ai-codefix
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - MOCK_LLM=true
    command: >
      uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
